/WorkspaceUISupport/build/
/FileTypeSupport/build/
/nbproject/private/
/build/
/Core/build/
/Deployer/build/
/UnitManager/build/
/Core/nbproject/private/
/Deployer/nbproject/private/
/UnitManager/nbproject/private/
/FileTypeSupport/nbproject/private/
/WorkspaceUISupport/nbproject/private/
/codemodel-2.6-javadoc/nbproject/private/
/org-netbeans-modules-xml-jaxb-api/nbproject/private/
/codemodel/nbproject/private/
/org-netbeans-modules-xml-jaxb-api/build/
/codemodel/build/
/Codegen/build/
/akka-visual/nbproject/private/
/akka-visual/build/
/akka-visual/dist/
/Codegen/nbproject/private/
/akka-actor/nbproject/private/
/akka-visual-wrapper/nbproject/private/
/oracle-codemodel/nbproject/private/
/akka-actor/build/
/oracle-codemodel/build/
/akka-visual-wrapper/build/
/akka-scala-library/build/
/akka-scala-library/nbproject/private/
/CoreUI/build/
/ObjectWindowSupport/build/
/ObjectWindowSupport/nbproject/private/
/CoreUI/nbproject/private/
/VisualAkkaProject/nbproject/private/
/ProjectTypeSupport/build/
/ProjectTypeSupport/nbproject/private/
/Bioinflab1/nbproject/private/
/Bioinflab1/build/
/org.eclipse.jdt.core/build/
/org.eclipse.jdt.core/nbproject/private/
/ProjectTypeSupport/src/org/vap/projecttype/VisualAkkaProjectProject/VisualAkkaProject/nbproject/private/
/VisualAkkaCodegen/nbproject/private/
/VisualAkkaCore/nbproject/private/
/VisualAkkaFileTypeSupport/nbproject/private/
/VisualAkkaWorkspaceUISupport/nbproject/private/
/VisualAkkaProjectTypeSupport/nbproject/private/
/VisualAkkaUnitManager/nbproject/private/
/VisualAkkaDeployer/nbproject/private/
/VisualAkkaCore/build/
/VisualAkkaCodegen/build/
/VisualAkkaDeployer/build/
/VisualAkkaFileUtils/build/
/VisualAkkaWorkspaceUISupport/build/
/VisualAkkaProjectTypeSupport/build/
/VisualAkkaUnitManager/build/
/VisualAkkaFileTypeSupport/build/
/VisualAkkaFileUtils/nbproject/private/